
@import url('../css/tabela.css');

table {

	border: 1px solid;
	background: #ffffff;
	width: 100%;
	border-collapse: collapse;
}

table tr {
    border: 1px solid #757575;
    
}
table tbody tr:nth-child(even) {
    background-color: #096;
}

table tbody tr:hover {
    background-color: rgba(0, 0, 255, .2);

}

table th, 
table td {
    padding: 1rem;
    font-size: 1.6rem;
    text-align: right;
    vertical-align: middle;

}

table tr td:first-child {
    text-align: left;
    font-weight: bold;
}

table th {
    background-color: #234589;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    /*font-size: 1.8rem;*/
}

.table-container {
    padding: 2rem 1rem;
}
.table-container h3 {
    font-size: 1.8rem;
    font-style: normal;
    margin-bottom: 1rem;
}
.table-container tfoot {
    background: #EEEEEE;
}
.table-container {
    font-size: 1.8;
    font-style: normal;
    margin-bottom: 1rem;
}
.table-container tfoot td {
    font-weight: bold;


}






















html{
    font-family: sans-serif;
    color: black;
}

p{
    color: #000!important;

}


header {
    color: #f00 !important;
    font-size: 1.5rem;
}

/*

combinadores - seletor descendent(espaço)


*/
header h2{
    font-weight: 100;   
}
header > h2{
    font-weight: 600;
}
h2 + p {
    background: #096;
    color: #333;
}
h2 ~ h5 {
    font-size: 1.2rem;
}
div ~ p {
    text-transform: uppercase; /*teg para deixar as letras Maiscula*/
}

/*Pseudo-elementos representado  por : dois pontos*/

a {
    color: #555555;
    text-decoration: none; /*o padrão é underline teg que coloca linha no texto*/
    font-size: 1.5rem;
    display: block;
    height: auto;
}
a:visited {
    color: #f00;
}
a:active {
    background: #096;
}

a:hover {
    color: rgba(27, 27, 180, 0.699);
    background: rgb(192, 185, 185); 
}
h2:hover {
    color: #009;
}

/*

Aplicação da Tipografia no CSS NORMALMENTE SÃO APLICADO NA TEGS QUE LEVAM TEXTO 
EXEMPLO:

*/

html {
    font-family: 'Hubballi', cursive; /* definir fonte de letra para todo o nosso texto*/
}

h1, h2, h3{  
    font-weight: 400;
    font-family: 'Hubballi', cursive;
}
p {
    font-weight: normal;
    font-size: 1.4rem;
}
ul {
    padding-left: .5rem;
   margin-left: .5rem;
}
li {
    letter-spacing: 0.01rem;
    font-family: sans-serif;
    line-height: 1.5;
}
h3 {
    font: italic bold 1.2rem/2  sans-serif;
}

/*
CORES 

*/
body {
    background: url('../img/pattern.png') center top #EEEEEE;
}

section {
    background: rgba(255, 255, 255, 0.75);
}

p { 
    color: blue;
    color: #034589;
}
header,
footer {
    background-color: #034589;
}
footer p { 
    color: rgb(255, 255, 255);

}
.navegacao {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
}
.navegacao li a {
    color: white;
    font-size: 1.4rem;
}
.navegacao li a:hover {
    background-color: rgba(150, 15, 200, .5);
    color: #333333;
}